<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zalupa bobra</title>
    <link href="{{ url_for('static', path='styles/base.css') }}" rel="stylesheet">
    
    {% block title %}
    {% endblock %}

    
</head>
<body>

<header class="base_header">
  <div class="logo_block">Z-ZALUPA</div>
  <div class="nav_menu">

    <a class="nav_item" href="/web/home">Home</a>

    {% if user %}

    <a class="nav_item" href="/web/logout">Logout({{ user[2] if user[2] else user.name }})</a>

    {% else %}

    <a class="nav_item" href="/web/register" >Sign up</a>
    <a class="nav_item" href="/web/login">Log in</a>

    {% endif %}
  </div>
</header>


{% block content %}
{% endblock %}


</body>
</html>



