<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>qwqweqwe</title>
    <link href="{{ url_for('static', path='styles/base.css') }}" rel="stylesheet">
    <link rel="website icon" href="{{ url_for('static', path='icon.ico') }}" class="href">
    
    {% block title %}
    {% endblock %}

    
</head>
<body>

  <header class="base_header">
    <div class="logo_block">qwqweqw</div>
    <div class="nav_menu">
  
      <a class="nav_item" href="/web/home">Home</a>
  
      {% if user %}
        <a class="nav_item" href="/web/logout">Logout ({{ user[2] if user[2] else user.name }})</a>
  
        {% if user.is_admin == true %}
          <a class="nav_item" href="/web/message">Message</a>
        {% endif %}
  
      {% else %}
        <a class="nav_item" href="/web/register">Sign up</a>
        <a class="nav_item" href="/web/login">Log in</a>
      {% endif %}
  
    </div>
  </header>
  
    
  </div>
</header>



{% block content %}
{% endblock %}

<script>
  var ws = new WebSocket ("ws://localhost:8000/ws/");
  /*var ws = new WebSocket ("wss://c187-194-44-36-178.ngrok-free.app")*/
  ws.onmessage = function(event) {
    console.log(event)
    alert(event.data)

  };

  function sendMessage(event) {
    var text = document.getElementById('messageText')
    ws.send(text.value)
    text.value = ''
    event.preventDefault()
  }

  </script>

</body>
</html>



